body {
    background-color: #f5f5f5;
    padding: 10px;
}

.testimonial {
    background-color: #fff; /* White background for each testimonial */
    padding: 10px; /* Add padding inside the testimonial box */
    border: 1px solid grey;
    margin: 13px;
}

.name {
    font-style: italic; 
    text-align: right;
}